body {
  margin: 0;
  background: #620b0b;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 430px;
}

.container img {
  width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}